.canvas-container {
  position: relative;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title-container {
  max-width: none !important;
  padding: 0 !important;
}

.general-height {
  height: 100vh;
}

.title-font {
  font-family: OceanBrush, serif;
}
.titleName {
  font-size: 6em;
  margin-bottom: none;
}

fade {
  position: absolute;
  bottom: 0px;

  display: block;

  width: 100%;
  height: 50px;

  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 100%);
}
